# Dependencies
node_modules/
.pnp
.pnp.js

# Build
build/
dist/
.esbuild/
out/

# Testing
coverage/

# Misc
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.firebase/
.firebase-cache/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
Thumbs.db
